section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

#info h4 {
    font-size: 2rem;
}

#info h1 {
    font-size: 4rem;
}

#info p {
    margin-top: 20px;
    font-size: 1.5rem;
}

#block {
    padding: 30px;
}

#topic {
    margin-bottom: 2rem;
}

#para {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#profile-pic {
    width: 20%;
    border-radius: 100%;
}